<div>Welcome to the home page!</div>
<div class="container">
  <div class="row">
      <%= react_component("HelloWorld", { greeting: "Hello form react rails!."}) %>
    <div class="col-12">
      <% @lists.each do |list| %>
      <div class="movie-card"><%= list.name %></div>
      <% end %>
    </div>
  </div>
</div>
